apiVersion: 1

datasources:
  - name: Jaeger
    type: jaeger
    uid: jaeger
    access: proxy
    url: http://jaeger:16686
    isDefault: false
    editable: true
    jsonData:
      tracesToLogsV2:
        # Correlation: Traces -> Logs (click span to see related logs)
        datasourceUid: 'Loki'
        spanStartTimeShift: '-1h'
        spanEndTimeShift: '1h'
        filterByTraceID: true
        filterBySpanID: false
        customQuery: true
        query: '{service="ctc-db-api"} |= `${__trace.traceId}`'
        tags:
          - key: 'service.name'
            value: 'service'
