apiVersion: 1

datasources:
  - name: Loki
    type: loki
    uid: Loki
    access: proxy
    url: http://loki:3100
    isDefault: true
    editable: true
    jsonData:
      maxLines: 1000
      derivedFields:
        # Correlation: Logs -> Traces (click trace_id to see span in Jaeger)
        - matcherRegex: "trace.id=(\\w+)"
          name: TraceID
          url: '$${__value.raw}'
          datasourceUid: jaeger
          urlDisplayLabel: 'View Trace'
        - matcherRegex: "\"trace.id\":\"(\\w+)\""
          name: TraceID (JSON)
          url: '$${__value.raw}'
          datasourceUid: jaeger
          urlDisplayLabel: 'View Trace'
